.background {
    overflow-y: hidden;
    font-family: "Poppins";
}

.background ,h2,h3,h4{
    text-align: center;
    font-family: 'Poppins';
    color: aliceblue;
}




.spinner{
    height: 50px;
    width: 50px;
    border: 6px solid black;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: 1%;
    right: 1%;


}

.splashimage{
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top:-15%;
    left: -14%;
    width: 67%;
    


}

.textbox{
    position: absolute;
    top: 10%;
    left: 50%;
    animation: fadeIn 5s;
    
}
.background{
    background: #333;
background: radial-gradient(circle, #333, #000);
}

.webName{
    font-size: 80px;
    color:red;
}

.members{
    font-size: 22px;
    color: aliceblue;
    font-style: italic;
}

.mission{
    font-size: 30px;
}



.team{
    font-size: 35px;
}
@keyframes spin{
    to{
        transform:rotate(360deg)
    }
}


@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}